/* main.css */

body {
    font-family: Arial, sans-serif;
    font-size:medium;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}
.heading{
    text-align: center;
    display: flex;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:xx-large;
    background: linear-gradient(to right, rgb(1, 1, 159),white);
    
}
.heading h1{
    text-align:center;
    font-family:fantasy;
    font-style: italic;
    font-size:4.5rem;
    flex: 1;
    margin-right: 20px;
    text-align: end;
    color:black;
    text-shadow: 
        0 0 5px white, 
        0 0 10px white, 
        0 0 20px white, 
        0 0 30px goldenrod, 
        0 0 40px yellowgreen, 
        0 0 40px white, 
        0 0 40px white;
    
}
.navbar {
    background-color: darkblue;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
}
.auth-buttons{
    margin-left: auto;
}
.auth-buttons a {
    margin-left: 20px; /* Adds space between the login and signup buttons */
}
.logo{
    width: 200px;
    height:200px;
    image-rendering:optimizeQuality;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(4, 0, 0, 0.5), 
                0 0 30px rgba(0, 0, 0, 0.4), 
                0 0 40px rgba(16, 1, 1, 0.3), 
                0 0 50px rgba(14, 2, 2, 0.43);
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.container {
    padding: 20px;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    block-size: auto;
}

.service {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

